---
import AdminPage from '../components/AdminPage';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Consola de Administración</title>
  </head>
  <body>
    <AdminPage />
  </body>
</html>
