---
// Props: title, description, className
const { name, image} = Astro.props;
---
<div>
  <div class="w-[845.23px] h-[67.14px] left-[36px] top-[42px] absolute text-black text-[32px] font-normal font-['Caladea']">{name}</div>
  <div class="w-[853.08px] h-[142.86px] left-[36px] top-[124px] absolute text-black/70 text-2xl font-normal font-['Caladea']">{image}</div>
  <div class="w-[901px] h-[32.86px] left-0 top-[357.14px] absolute bg-black/50 rounded-[5px]"></div>
</div>
