---
// Navbar.astro
const { logoSrc = '/img/logo.png', userImgSrc = '/img/usuario.png' } = Astro.props;
---

<header class="bg-white text-black shadow-md py-1">
  <div class="max-w-7xl mx-auto px-4 flex justify-between items-center">
    <!-- Navegación -->
    <nav class="flex items-center space-x-6">
      <ul class="flex space-x-6">
        <li><a href="/" class="text-md hover:text-gray-600 hover:font-bold transition-all duration-300">HOME</a></li>
        <li><a href="#studies" class="text-md hover:text-gray-600 hover:font-bold transition-all duration-300">STUDIES</a></li>
        <li><a href="#projects" class="text-md hover:text-gray-600 hover:font-bold transition-all duration-300">PROJECTS</a></li>
      </ul>
    </nav>

    <!-- Logo -->
    <div class="flex justify-center items-center flex-grow">
      <img src={logoSrc} alt="Logo" class="h-16" /> <!-- Logo más pequeño -->
    </div>

    <!-- Iconos y más enlaces -->
    <ul class="flex space-x-6 items-center">
      <li><a href="#contact" class="text-md hover:text-gray-600 hover:font-bold transition-all duration-300">CONTACT</a></li>
      <li><a href="#skills" class="text-md hover:text-gray-600 hover:font-bold transition-all duration-300">SKILLS</a></li>
      <li><img src={userImgSrc} alt="Usuario" class="h-8 rounded-full" /> <!-- Avatar más pequeño -->
      </li>
    </ul>
  </div>
</header>
