---
const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body class="bg-white text-gray-800 font-sans" style="font-family: 'Caladea', serif;">
  <!-- Navbar -->
  <Navbar logoSrc="/img/logo.png" userImgSrc="/img/usuario.png" />

  <!-- Contenido dinámico (contenido de la página) -->
  <main class="py-16">
    <div class="max-w-7xl mx-auto px-6">
      <slot /> <!-- El contenido de cada página se insertará aquí -->
    </div>
  </main>

  <!-- Footer -->
  <footer class="bg-gray-900 text-white text-center py-2 mt-8">
    <div class="text-white p-2 flex justify-center items-center max-w-4xl mx-auto">
      <p class="text-sm text-center flex-1">&copy; 2024 All rights reserved {Astro.props.data.name}</p>
      <div class="flex space-x-2">
        <img src="/img/github.png" alt="GitHub" class="w-6 h-6 rounded-full" />
        <img src="/img/linkedin.jpg" alt="LinkedIn" class="w-6 h-6 rounded-full" />
        <img src="/img/instagram.png" alt="Instagram" class="w-6 h-6 rounded-full" />
      </div>
    </div>
  </footer>  
</body>
</html>
